In [3]:
import pandas as pd
from pymongo.mongo_client import MongoClient
import json

In [8]:
uri = "mongodb+srv://akshar1895:Aksharsdata@cluster0.bdyjsdd.mongodb.net/?retryWrites=true&w=majority"
# Create a new client and connect to the server
client = MongoClient(uri)
# Specify the database and collection
database_name = 'automatidata'
collection_name = 'nyctaxi'
collection = client[database_name][collection_name]

# Retrieve the data from the MongoDB collection
cursor = collection.find()

# Convert the MongoDB cursor to a list of dictionaries
data_list = list(cursor)

# Convert the list of dictionaries to a DataFrame
df = pd.DataFrame(data_list)

# drop "_id"
if '_id' in df.columns:
    df =  df.drop('_id', axis=1)
# Close the MongoDB connection
client.close()

In [9]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,mean_duration,mean_distance,predicted_fare,tip_percent,generous
0,2,08/17/2017 4:06:26 AM,08/17/2017 4:06:29 AM,4,0.00,5,N,100,100,1,...,0.5,0.00,0.0,0.3,99.30,3.130556,0.253333,4.374211,0.000,0
1,2,01/29/2017 1:32:15 AM,01/29/2017 1:58:00 AM,1,5.42,1,N,249,262,1,...,0.5,4.66,0.0,0.3,27.96,22.016667,5.245000,19.522507,0.200,1
2,2,01/28/2017 1:40:19 PM,01/28/2017 1:47:11 PM,1,1.99,1,N,239,166,1,...,0.5,1.50,0.0,0.3,10.30,12.984848,1.995909,10.523730,0.170,0
3,2,03/17/2017 8:59:59 AM,03/17/2017 9:19:42 AM,1,0.98,1,N,48,246,1,...,0.5,2.66,0.0,0.3,15.96,8.928455,1.305122,8.257137,0.200,1
4,2,03/22/2017 9:15:51 AM,03/22/2017 9:50:17 AM,6,5.02,1,N,239,211,1,...,0.5,3.00,0.0,0.3,26.80,34.433333,5.020000,22.891725,0.126,0

In [10]:
df.isna().sum()

VendorID                 0
tpep_pickup_datetime     0
tpep_dropoff_datetime    0
passenger_count          0
trip_distance            0
RatecodeID               0
store_and_fwd_flag       0
PULocationID             0
DOLocationID             0
payment_type             0
fare_amount              0
extra                    0
mta_tax                  0
tip_amount               0
tolls_amount             0
improvement_surcharge    0
total_amount             0
mean_duration            0
mean_distance            0
predicted_fare           0
tip_percent              3
generous                 0
dtype: int64