In [3]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
from pymongo.mongo_client import MongoClient
import json

In [4]:
uri = "mongodb+srv://akshar1895:Aksharsdata@cluster0.bdyjsdd.mongodb.net/?retryWrites=true&w=majority"
# Create a new client and connect to the server
client = MongoClient(uri)
# Specify the database and collection
database_name = 'automatidata'
collection_name = 'nyctaxi'
collection = client[database_name][collection_name]

# Retrieve the data from the MongoDB collection
cursor = collection.find()

# Convert the MongoDB cursor to a list of dictionaries
data_list = list(cursor)

# Convert the list of dictionaries to a DataFrame
df = pd.DataFrame(data_list)

# drop "_id"
if '_id' in df.columns:
    df =  df.drop('_id', axis=1)
# Close the MongoDB connection
client.close()

In [5]:
df.head()

   VendorID   tpep_pickup_datetime  ... tip_percent  generous
0         2  08/17/2017 4:06:26 AM  ...       0.000         0
1         2  01/29/2017 1:32:15 AM  ...       0.200         1
2         2  01/28/2017 1:40:19 PM  ...       0.170         0
3         2  03/17/2017 8:59:59 AM  ...       0.200         1
4         2  03/22/2017 9:15:51 AM  ...       0.126         0

[5 rows x 22 columns]

In [6]:
df.isna().sum()

VendorID                 0
tpep_pickup_datetime     0
tpep_dropoff_datetime    0
passenger_count          0
trip_distance            0
RatecodeID               0
store_and_fwd_flag       0
PULocationID             0
DOLocationID             0
payment_type             0
fare_amount              0
extra                    0
mta_tax                  0
tip_amount               0
tolls_amount             0
improvement_surcharge    0
total_amount             0
mean_duration            0
mean_distance            0
predicted_fare           0
tip_percent              3
generous                 0
dtype: int64

In [7]:
df = df.dropna()

In [8]:
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, FunctionTransformer, OneHotEncoder

In [9]:
def generate_features( input_data: pd.DataFrame) -> pd.DataFrame:

    # Convert pickup and dropoff cols to datetime
    input_data['tpep_pickup_datetime'] = pd.to_datetime(input_data['tpep_pickup_datetime'], format='%m/%d/%Y %I:%M:%S %p')
    input_data['tpep_dropoff_datetime'] = pd.to_datetime(input_data['tpep_dropoff_datetime'], format='%m/%d/%Y %I:%M:%S %p')
    #create month
    input_data['month'] = input_data['tpep_pickup_datetime'].dt.strftime('%b').str.lower()
    # create day col
    input_data['day'] = input_data['tpep_pickup_datetime'].dt.day_name().str.lower()
    # create time of the day
    input_data['am_rush'] = input_data['tpep_pickup_datetime'].dt.hour
    input_data['day_time'] = input_data['tpep_pickup_datetime'].dt.hour
    input_data['pm_rush'] = input_data['tpep_pickup_datetime'].dt.hour
    input_data['night time'] = input_data['tpep_pickup_datetime'].dt.hour

    input_data['am_rush'] = input_data['am_rush'].apply(lambda x: 1 if 6 <= x < 10 else 0)
    input_data['day_time'] = input_data['am_rush'].apply(lambda x: 1 if 10 <= x < 16 else 0)
    input_data['pm_rush'] = input_data['am_rush'].apply(lambda x: 1 if 16<= x < 20 else 0)
    input_data['night_time'] = input_data['am_rush'].apply(lambda x : 1 if (20 <= x < 24) or (0 <= x < 6) else 0)

    # drop redundant columns
    drop_cols = ['tpep_pickup_datetime', 'tpep_dropoff_datetime',
            'payment_type', 'trip_distance', 'store_and_fwd_flag',
            'fare_amount', 'extra', 'mta_tax', 'tip_amount', 'tolls_amount',
            'improvement_surcharge', 'total_amount', 'tip_percent']
    
    # convert catergorical features to string
    cols_to_str = ['RatecodeID', 'VendorID', 'DOLocationID', 'PULocationID']

    # Convert each column to string
    for col in cols_to_str:
        input_data[col] = input_data[col].astype('str')

    input_data = input_data.drop(columns=drop_cols, axis=1)

    return input_data

In [10]:
df_n = generate_features(df)

In [11]:
test_data = df.sample(5)

In [12]:
test_data = generate_features(test_data)

In [13]:
x1 = test_data

In [14]:
def get_data_transformer_object():

        try:
            
            numerical_columns = ['passenger_count', 'mean_duration', 'mean_distance', 'predicted_fare',
                                'am_rush', 'day_time', 'pm_rush', 'night_time']
            categorical_columns = ['VendorID','RatecodeID','PULocationID', 
                                   'DOLocationID','day', 'month']

            num_pipeline = Pipeline(
                steps = [
                    ('imputer', SimpleImputer(strategy='median')),
                    ('scaler', StandardScaler())
                ]
            )

            cat_pipeline = Pipeline(
                steps=[
                    ('imputer', SimpleImputer(strategy='most_frequent')),
                    ('one_hot_encoder', OneHotEncoder(handle_unknown='ignore', categories='auto')),
                    ('scaler', StandardScaler(with_mean=False) )
                ]
            )

            preprocessor = ColumnTransformer(
                [

                ('num_pipeline', num_pipeline, numerical_columns),
                ('cat_pipeline', cat_pipeline, categorical_columns)

                ]
            )
            
            return preprocessor
        except Exception as e:
            raise e

In [15]:
preproc_obj = get_data_transformer_object()

In [19]:
X = df_n.drop('generous', axis=1)
y = df_n[['generous']]

In [20]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=0)

In [21]:
X_train.shape, y_train.shape

((10873, 15), (10873, 1))

In [22]:
X_test.shape, y_test.shape

((3625, 15), (3625, 1))

In [23]:
X_train_pr = preproc_obj.fit_transform(X_train)
X_test_pr = preproc_obj.transform(X_test)

In [24]:
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from sklearn.naive_bayes import GaussianNB

In [25]:
from sklearn.metrics import precision_score, f1_score, accuracy_score, confusion_matrix, ConfusionMatrixDisplay

In [26]:
rf = RandomForestClassifier(n_estimators=300, max_depth=5,
                            random_state=0, max_samples=0.4,
                            criterion='entropy',
                            max_features='sqrt', n_jobs=-1)
rf.fit(X_train_pr, y_train)
y_pred = rf.predict(X_test_pr)
score = f1_score(y_test, y_pred)
score

d:\ML_Deployment\Automadata\venv\lib\site-packages\sklearn\base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

0.7489051094890512

In [27]:
cm = confusion_matrix(y_test, y_pred)
cm

array([[1054,  647],
       [ 385, 1539]], dtype=int64)

In [41]:
clf = XGBClassifier(n_estimators=300, learning_rate=0.01, max_depth=3, subsample=0.8, random_state=0)
clf.fit(X_train_pr, y_train)
y_pred = clf.predict(X_test_pr)
score = f1_score(y_test, y_pred)
score

0.75436498445348

In [42]:
cm = confusion_matrix(y_test, y_pred)
cm

array([[1021,  680],
       [ 347, 1577]], dtype=int64)